.eshop-fluid-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* override bootstrap */
.nav {
    margin-bottom: 18px;
}

/* ============================= */
/* side bar */
.family-list {
    margin-top: -5px;
    margin-left: 5px;
    min-height: 500px;
}
.family-list > ul > li + li {
    border-top: 1px solid #EEEEEE;
}
.family-list ul > li > a:hover {
    background: none;
}
.family-list > ul > li ul {
    display: none;
}
.family-list > ul > li a.active {
    font-weight: bold;
}
.family-list > ul > li a.active + ul {
    display: block;
    margin: -5px 0 10px 0;
}
.family-list > ul > li ul > li {
    list-style-type: square;
    color: #428bca;
}
.family-list > ul > li ul > li + li {
    padding-top: 5px;
}
.family-list > ul > li ul > li > a {
    text-decoration: none;
}
.family-list > ul > li ul > li > a.active {
    font-weight: bold;
}

/* product list */
.product-list.row {
    height: 100px;
    margin-bottom: 25px;
}
.product-list div > img {
    margin: 0 auto;
    display: block;
}
.product-list > div:nth-child(2) {
    padding-left: 0;
}

.product-list h4 {
    margin-top: 0;
}

/* product detail */
.product-detail h2 {
    margin-top: 0;
}
.product-detail #qtyInput {
    width: 60px;
}

/* cart */
.shopping-cart tbody > tr > td:first-child {
    width: 80px;
}
.shopping-cart tbody > tr > td:first-child + td {
    text-align: left;
}
.shopping-cart > div + div:not(.cart-empty) {
    text-align: right;
}
.shopping-cart > div + div + div {
    text-align: right;
    margin-top: 10px;
}

/* order list */
.order-list tbody > tr > td:first-child {
    width: 80px;
    text-align: left;
}
.order-list tbody > tr > td:first-child + td {
    text-align: left;
}
.order-list tbody > tr > td + td + td {
    text-align: right;
}
.order-list tbody > tr > td:last-child {
    width: 120px;
}
.order-list > div + div + div {
    text-align: right;
    margin-top: 10px;
}

/* field error TODO used ? */
.field-error {
    color: #a94442;
}
